.LoginPage {
	&__Wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 30px;
		margin-top: 100px;
	}

	&__Title {
		font-size: 25px;
		font-weight: 600;
	}
}

.LoginForm {
	&__Form {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		row-gap: 20px;
		padding: 30px;
		box-shadow: 0 0 8px #57230b;
	}

	&__Item {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		width: 100%;
		column-gap: 20px;
	}

	&__Item input {
		border: 1px solid #3b170683;
		padding: 10px;
	}

	&__Button {
		width: 100%;
		padding: 10px;
		background-color: #A0522D;
		color: #FFFFF1;
		font-size: 20px;
		border-radius: 5px;
	}
}